.sidebar {
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;

  //置中nav-btn
  display: flex;
  justify-content: center;

  //把nav-btn推下來
  padding-top: 4.5rem;
  background-color: $color-primary;

  @media only screen and (max-width: $bp-lg) {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;

    justify-content: flex-end;
    align-items: center;

    padding-top: 0;
    padding-right: 2rem;
  }
}

.nav-btn {
  height: 2px;
  width: 4.5rem;

  border: none;
  background-color: #fff;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 4.5rem;
    background-color: #fff;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }
}
